<% if current_user %>
<h3>Welcome: <%= current_user.email %></h3>
<% else %>
<div class="jumbotron">
  <h2>Welcome to Serialistic</h2>
  <p class="lead">
    Visual storytelling for everybody!<br>
    Writers, artists, readers, and fans create, share, buy, and sell serial story content. Sign up!
  </p>
</div>
<div class="row">
  <div class="plans clearfix">
    <div class="col-lg-3 col-lg-offset-3 plan">
      <h2>Reader Plan</h2>
      <div class="price pull-right">
        Price: $5/mo
      </div>
      <div class="features">
        <ul>
          <li>Unlimited Reader Access</li>
          <li>Personal Fanboard</li>
          <li>Mobile Reader App</li>
          <li>Special Event Invitations</li>
        </ul>
      </div>
      <p>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
      </p>
    </div>
    <div class="col-lg-3 plan">
      <h2>Creator Plan</h2>
      <div class="price pull-right">
        Price: $10/mo
      </div>
      <div class="features">
        <ul>
          <li>Everything in the Reader Plan plus</li>
          <li>Custom Creator URL</li>
          <li>Access to SerialStudio</li>
          <li>5 Story Threads</li>
        </ul>
      </div>
      <p>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
      </p>
    </div>
  </div>
</div>
<% end %>
